body{
    background-image: linear-gradient( rgb(226, 199, 224), rgb(0, 0, 0));
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    align-content: center;
    text align: center;
    min-height: 100vh;

}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
}
p {
    font-family: cursive;
    color: white;
}
ul  {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}
li {
    text-align: left;
}