* { box-sizing: border-box; }

body{  
  margin: 0;
  font-family: sans-serif;
  background-image: linear-gradient(black, black);
  color: white;
}
a {
    text-decoration: none;
    color: grey;
}

/* Header */
header {
    background: black;
    color: white;
    padding: 1.5em 2em;
}
header a {
    color: white;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
/* SITE ID */
.site-id h1 {
    margin: 0;
}
/* NAV */
nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;
}
nav li {
    margin: 0;
    list-style: none;
}
nav a {
    display: block;
    padding: 1em;
}
/* FOOTER */
footer {
    border-top: 1px solid #ddd;
    max-width: 1000px;
    margin: 0 auto;
}
footer nav ul {
    justify-content: center;

}
/* MAIN */
main {
    padding: 0 0 3em 0;
    min-height: 80vh;
}
/* SECTIONS */
section {
    padding: 3em 1em;
}
/*HERO*/
.hero {
    display: grid;
    align-content: center;
    text-align: center;
    background-image: linear-gradient(lightblue, rgb(0, 0, 0));
    font-family: roboto mono; 
    min-height: 50vh;
    color: white;
}
a {
    color: rgb(107, 129, 139);
}
.hero h2 {
    font-size: 6em;
    text-transform: uppercase;
    margin: 0 auto;
}
.hero p {
    max-width: 600px;
    margin: 1em auto;
}
.page-home .hero{
    background-image: url(https://picsum.photos/id/295/4272/2848?blur);
    background-position: center;
    background-size: cover;
}

/* LISTS */
.lists {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    color: white;
}
@media (max-width:767px) {
    .lists {
        grid-template-columns: 1fr 1fr;
    }
}
    /*SUB PAGES*/
.page-sub .hero {
    background-image: linear-gradient(rgb(183, 209, 224), black);
    min-height: 30vh;
}
/* BLOG Archives */
.blog-archives {
    max-width: 600px;
    margin: 0 auto;
}
.blog-entry {
    border: 1px solid #ddd;
    padding: 2em;
    margin: 2em 0;
    color: white;
}
.date {
    opacity: .5;
    font-size: .8em;

}
/* UI GALLERY */
.ui-designs {
    text-align: center;
}
.ui-designs img {
    max-width: 100px;
}